{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">I-Care</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'pprofile' %}">PROFILE PAGE</a></li>
        <li><a href="{% url 'logout' %}">LOG OUT >>></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>APPOINTMENT BOOKING</h1>
  <p>Enter The Details To Book An Appointment</p>
</div>

{% if messages %}
    <div class="card notification-card notification-invitation">
        <div class="card-body">
        {% for message in messages %}
                <div class="card-title">{{message}} </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="container-fluid">
                <div class="card">
                    <form class="form-card" method="POST" action="{% url 'pbookapt' %}">
                    {% csrf_token %}
                        <div class="row">
                            <label class="tleft">Phone</label>
                            <input class="form-control" required type="text" id="mob" name="mobile" placeholder="Enter your Contact Number" onblur="validate(1)">
                            <label class="tleft">Reason</label>
                            <input class="form-control" required type="text" id="ans" name="request" placeholder="Give a short report of your Condition" onblur="validate(2)">
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-lg">Book Now!!!</button> </div>
                        </div>
                    </form>
                </div>
    </div>


{% endblock %}

{% block script %}
    function validate(val) {
    v1 = document.getElementById("fname");
    v2 = document.getElementById("lname");
    v3 = document.getElementById("email");
    v4 = document.getElementById("mob");
    v5 = document.getElementById("job");
    v6 = document.getElementById("ans");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;

    if(val>=1 || val==0) {
    if(v1.value == "") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }

    if(val>=2 || val==0) {
    if(v2.value == "") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }
    if(val>=3 || val==0) {
    if(v3.value == "") {
    v3.style.borderColor = "red";
    flag3 = false;
    }
    else {
    v3.style.borderColor = "green";
    flag3 = true;
    }
    }
    if(val>=4 || val==0) {
    if(v4.value == "") {
    v4.style.borderColor = "red";
    flag4 = false;
    }
    else {
    v4.style.borderColor = "green";
    flag4 = true;
    }
    }
    if(val>=5 || val==0) {
    if(v5.value == "") {
    v5.style.borderColor = "red";
    flag5 = false;
    }
    else {
    v5.style.borderColor = "green";
    flag5 = true;
    }
    }
    if(val>=6 || val==0) {
    if(v6.value == "") {
    v6.style.borderColor = "red";
    flag6 = false;
    }
    else {
    v6.style.borderColor = "green";
    flag6 = true;
    }
    }

    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;

    return flag;
    }
 {% endblock script %}